@use "src/App";
@use "src/AppComponents/HiveGraph/HiveGraphStyle";

$graph-accent-color: darken(App.$main-color, 15%);

.point-label-container {
  background-color: $graph-accent-color;
  color: white;
  padding: 7px;
  position: absolute;
  bottom: 60px;
  right: 10px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid;
}

.graph-container {
  width: 100%;
  height: calc(100% - #{HiveGraphStyle.$details-panel-height});
  position: relative;
}

.divider {
  width: 100%;
  height: 5px;
  border-bottom: 1px solid white;
  background-color: $graph-accent-color;
}
