body, html {
  height: 100%;
  margin: 0;
  background-color: #3e3e3e;
}

#root {
  height: 100%;
}

.controls-container {
  height: 100%;
  width: 70px;
  float: left;
  background-color: #2b2b2b
}

.right-side {
  height: 100%;
  width: calc(100% - 70px);
  margin-left: 70px;
  background-color: #3e3e3e;
}

.feedback-bar-container {
  height: 3px;
  width: 100%;
  background-color: #1c2138;
}

.working-area {
  width: 100%;
  height: calc(100% - 3px);
}

/* HACK! USED TO INCREASE THE WIDTH OF THE STATEMENT SEARCH INPUT*/
.rbt {
  width: 90%
}

/* HACK! SOMETHING IS NOT RIGHT WITH THE SPINNER SO HIDING IT FOR NOW*/
.rbt-aux {
  display: none;
}