body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.controls-container {
  height: 100%;
  width: 70px;
  float: left;
  background-color: #2b2b2b
}

.right-side {
  height: 100%;
  width: calc(100% - 70px);
  margin-left: 70px;
  background-color: #3e3e3e;
}

.canvas-container {
  height: calc(100% - 90px);
}

.new-node-container {
  height: 50px;
  background-color: #353535;
}

.graph-control-container {
  height: 40px;
  background-color: #414141;
}
